@import "./reset.css";

/* Document level adjustments */
@media (max-width: 56.25rem) {
  /* 16 * 56.25 = 900px */
  html {
    font-size: 14px;
  }
}

@media (max-width: 25rem) {
  /* 16 * 25 = 400px */
  html {
    font-size: 12px;
  }
}
* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  background-image: url("../assets/page-back.png");
}

.motion-wrapper {
  min-height: 100%;
  max-width: 75rem;
  margin: 0 auto;
  background-image: url("../assets/section-back.png");
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0.625em;
}

.header-title {
  font-size: 1.25rem;
  font-weight: bold;
  margin-bottom: 0.625em;
}

.header__buttons button {
  background-color: transparent;
  border-color: red;
  outline: none;
  width: 5em;
  height: 2.5em;
}

.main {
  flex: 1;
  padding: 0.625em;
}

.main__card {
  margin-bottom: 0.625em;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  padding: 0.625em;
  height: 15.625em;
  display: flex;
  position: relative;
}

.main__card img {
  width: 50%;
  margin-right: 0.625em;
}
.main__card pre {
  text-align: justify; /* 양쪽 정렬 */
  width: 50%;
  white-space: pre-wrap; /* pre-line을 쓰면 공백을 하나만 표시함 */
  padding-right: 2em;
  font-size: 1.25rem;
}

.main__card button {
  all: unset;
  font-size: 1.25rem;
  color: crimson;
  cursor: pointer;
  position: absolute;
  top: 0.75em;
  right: 0.75rem;
}

.main__card:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}
