@import "./reset.css";

/* Document level adjustments */
@media (max-width: 56.25rem) {
  /* 16 * 56.25 = 900px */
  html {
    font-size: 14px;
  }
}

@media (max-width: 25rem) {
  /* 16 * 25 = 400px */
  html {
    font-size: 12px;
  }
}
* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  background-image: url("../assets/page-back.png");
}

.motion-wrapper {
  min-height: 100%;
  max-width: 75rem;
  margin: 0 auto;
  background-image: url("../assets/section-back.png");
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0.625em;
}

.header-title {
  font-size: 1.25rem;
  font-weight: bold;
  margin-bottom: 0.625em;
}

/* button */
.button {
  background-color: transparent;
  border-color: red;
  outline: none;
  width: 5em;
  height: 2.5em;
}

.button--cancel {
  all: unset;
  font-size: 1.25rem;
  cursor: pointer;
}

.main {
  flex: 1;
  padding: 0.625em;
}

.main__card {
  margin-bottom: 0.625em;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  padding: 0.625em;
  height: 15.625em;
  display: flex;
  position: relative;
}

.main__card img,
.main__card iframe {
  width: 50%;
  margin-right: 0.625em;
}

.main__card--note {
  flex-direction: column;
}

.main__card--note .main__title {
  font-weight: bold;
  font-size: 1.5rem;
  margin-bottom: 1em;
  color: crimson;
}
.main__card--note .main__body {
  font-size: 1rem;
}

.main__card pre {
  text-align: justify; /* 양쪽 정렬 */
  width: 50%;
  white-space: pre-wrap; /* pre-line을 쓰면 공백을 하나만 표시함 */
  padding-right: 2em;
  font-size: 1.25rem;
}

.main__card .button--cancel {
  position: absolute;
  top: 0.75em;
  right: 0.75rem;
}

.main__card:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.modal__overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.25);
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal {
  border-radius: 0.313em;
  background-color: rosybrown;
  width: 25em;
  height: 12.5em;
  padding: 2.5em 0.625em;
  position: relative;
}

.modal h4 {
  font-weight: bold;
  font-size: 1.125em;
  color: royalblue;
}

.modal input {
  height: 2.188em;
}

.modal input,
.modal textarea {
  margin-bottom: 0.625em;
  width: 100%;
}

.modal .button--cancel {
  position: absolute;
  top: 0.75em;
  right: 0.75rem;
}

.modal .button--add {
  float: right;
}

.hide {
  display: none;
}
